*{
  margin:0;
  padding: 0;
}
body{
    background-image: url(https://images.unsplash.com/photo-1471922694854-ff1b63b20054?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80);
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* background-position: -400px 0px; */
}
.main{
     width: 400px;
     margin: 80px auto 0px auto; 
}
h1{
    text-align: center;
    padding: 10px;
    font-family: sans-serif;
    color: white;
    font-size: 25px;
}
.register{
    background-color:rgba(0,0,0,0.5);
    font-family: sans-serif;
    font-size:17px ;
    border-radius: 15px;
    box-shadow: 2px 2px 15px rgb(0,0,0,0.3);
    
}
#register{
    margin-left: 50px;
}
label{
    font-family: sans-serif;
    font-size: 15px;
    font-style: italic; 
    color: rgb(255, 255, 255);
}
.name{
    width: 250px;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 6px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgb(0,0,0,0.3);
}
#submit{
   width: 110px;
   padding: 7px;
   font-family: sans-serif;
   font-style: italic;
   font-weight: 800;
   border-radius: 5px;
   background-color: rgb(226, 125, 8);
}